{% extends "tease.twig" %}

{# {% block content %}
	<div class="category">
		<div class="ht__cat__thumb">
			<a href="{{post.link}}">
				{% if post.thumbnail.src %}
					<img src="{{post.thumbnail.src}}"/>
				{% else %}
					<img src="/img/default-product.jpg" alt="">
				{% endif %}
			</a>
		</div>
		<div class="fr__product__inner center">
			<h4 class="h2">
				<a href="{{post.link}}">{{post.title}}</a>
			</h4>
		</div>
	</div>
	{# <p>{{post.preview.length(25)}}</p>
{% endblock %} #}
